</div>
  <%= flat.name %>
<div>
<div>
  <%= flat.address %>
</div>
<div class="d-flex">
  <div>
    <i class="fa-solid fa-house-user"></i><%= flat.number_of_guests %>
  </div>
  <div>
    <i class="fa-solid fa-sterling-sign"></i><%= flat.price_per_night %>
  </div>
</div>
