<% @flats.each do |flat| %>
<div class="card w-50">
  <div class="h-75 p-3 bg-secondary bg-opacity-10">
    <%= render flat %>
  </div>
  <div class="d-flex align-items-center ms-3 h-25">
    <%= link_to "More info", flat_path(flat), class: "me-3" %>
    <%= link_to "Edit", edit_flat_path(flat), class: "me-3 link-warning" %>
    <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-danger" %>
  </div>
</div>
<% end %>
